* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: auto;
}


body {
    margin: 0;
    padding: 0;
    background-color: rgb(16, 118, 197);
}
main {
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.672);
}
header img {
    width: 200px;
    padding: 20px;
    margin: auto;
}
article h2 {
    font-size: 30px;
}
article p {
    font-size: 25px;
}
img {
    width: 600px;
    display: flex;
    margin: auto;
    justify-content: center;
}
header h1 {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: center;

}
legend h2 {
    font-size: 26px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
main legend,p {
    font-size: 30px;
    color: rgb(0, 4, 15);
    margin: auto;
    justify-content: center;
    align-items: center;

}
footer h2 {
    color: white;
    font-size: 30px;
    margin: auto;
    
    
    
}    
footer {
    background-color: #1e1e1e;
    display: flex;
    width: 800px;
    margin: auto;
    padding: 10px;
    justify-content: center;
}

